@import url('//fonts.googleapis.com/css?family=Anton');

$gray: #3b3b3b;
$white: #fff;
$font-anton: 'Anton', sans-serif;

body {
  background: $gray;
  color: $white;
  font-family: $font-anton;
  text-align: center;

  .game-title,
  h1 {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 25px 0;
  }

  #root {
    margin: 30px auto;
    width: 900px;

    .game {
      .game-board {
        margin: 45px 0;
        width: 100%;

        .status {
          letter-spacing: 1px;
          margin-bottom: 30px;
        }

        .board-row {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          width: 100%;

          button {
            background: transparent;
            border: 10px solid $white;
            border-bottom: 0;
            color: $white;
            font-family: $font-anton;
            font-size: 75px;
            height: 150px;
            width: 150px;

            + button {
              border-left: 0;
            }
          }

          &:first-child {
            button {
              &:first-child {
                border-top-left-radius: 5px;
              }

              &:last-child {
                border-top-right-radius: 5px;
              }
            }
          }

          &:last-child {
            button {
              border-bottom: 10px solid $white;

              &:first-child {
                border-bottom-left-radius: 5px;
              }

              &:last-child {
                border-bottom-right-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}
